<footer class="page-footer text-center font-small mt-4 wow fadeIn bg-primary">

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <p>2020 Database Final Project</p>
      <!-- <a href="https://www.youtube.com/?gl=TW&hl=zh-TW" target="_blank">
        <i class="fab fa-youtube mr-3"></i>
      </a>

      <a href="https://www.google.com.tw" target="_blank">
        <i class="fab fa-google-plus-g mr-3"></i>
      </a> -->

    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      <!-- © 2019 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> MDBootstrap.com </a> -->
    </div>
    <!--/.Copyright-->

  </footer>